/* This sets the global box-sizing, padding, and margin  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6; /* Background color of website */
}

/* Defines header characteristics including padding, font-family, background-color, and text color */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Defines header heading h1 to have a different display and font-size */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Defines header heading h1 element seo to have a different text color */
header h1 seo {
    color: #d9dcd6;
}

/* Defines header navigation attributes including padding-top, margin-right, float, font-family, and font-size */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Defines header navigation unordered list attribute of list-style-type */
header nav ul {
    list-style-type: none;
}

/* Defines header navigation unordered list's list item's attributes of display and margin-left */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Defines element a's color and text-decoration */ 
a {
    color: #ffffff;
    text-decoration: none;
}

/* Defines element p's font-size */
p {
    font-size: 16px;
}

/* Defines class hero's height, width, margin-bottom, background-image, background-size, and background-position */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;  
}

/* Defines class float-left's float and margin-right */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Defines class float-right's float and margin-left */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Defines class content's width, display, and margin-left */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Defines class benefit's margin-right, padding, clear, float, width, height, font-family, and background-color */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Defines class benefit-lead's margin-bottom and text color */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Defines class benefit-brand's margin bottom and text color */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Defines class benefit-cost's margin bottom and text color */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Defines class benefit-lead h3's margin bottom and text color */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Defines class benefit-brand h3's margin bottom and text color */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Defines class benefit-cost h3's margin bottom and text color */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Defines class benefit-lead img's dislay, margin, and max-width */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Defines class benefit-brand img's dislay, margin, and max-width */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Defines class benefit-cost img's dislay, margin, and max-width */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Defines class search-engine-optimization's margin-bottom, padding, height, font-family, background-color, and text color */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Defines class online-reputation-management's margin-bottom, padding, height, font-family, background-color, and text color */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Defines class social-media-marketing's margin-bottom, padding, height, font-family, background-color, and text color */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Defines class search-engine-optimization img's max-height */
.search-engine-optimization img {
    max-height: 200px;
}

/* Defines class online-reputation-management img's max-height */
.online-reputation-management img {
    max-height: 200px;
}

/* Defines class social-media-marketing img's max-height */
.social-media-marketing img {
    max-height: 200px;
}

/* Defines class search-engine-optimization h2's margin-bottom and font-size */
.search-engine-optimization h2 {
    font-size: 36px;
}

/* Defines class online-reputation-management h2's margin-bottom and font-size */
.online-reputation-management h2 {
    font-size: 36px;
}

/* Defines class social-media-marketing h2's margin-bottom and font-size */
.social-media-marketing h2 {
    font-size: 36px;
}

/* Removed as unused due to Mock-Up
/* Defines footer's passing, clear, font-family, and text-align 
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Defines foot h4's font-size 
footer h4 {
    font-size: 20px;
}
*/